<div class="columns">
  <div style="margin-top: 1%" class="column is-two-thirds">
    <div class="box">
      <% if @current_user %>
            <h5 class="title is-5 has-text-link has-text-centered is-italic has-text-weight-bold is-family-code">
              ~ Camelike ~
            </h5> 
            <span style='margin-left: 35%'>
                <a class="is-size-7" href="/posts"> Home </a> | 
                <a class="is-size-7" href="/posts/new"> New Post </a> |
                <span class="is-size-7"> <%= link_to "Profile", user_path(@current_user.id) %> |
                <a class="is-size-7" rel="nofollow" data-method="delete" href="/logout"> Logout </a>
            </span>
            <hr>
            <% else %>
                <a class="button is-rounded is-normal" href=/login>Log in</a><br/>
                <br/>
                <a class="button is-rounded is-normal" href=/signup>Sign up</a><br/>
      <% end %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
              <img src= <%= @post.user.img_url %> alt="Italian Trulli">
          </p>
        </figure>
        <div class="media-content has-background-white-bis">
          <strong><%= link_to @post.user.name, user_path(@post.user.id) %></strong> <small>@<%= @post.user.username %></small> <br/>
          <div class="content has-text-grey-darker">
              <small class="is-italic is-size-7"><%= @post.location.name %>, <%= @post.location.city %><br/></small>
                <div class="content" style="max-width: 45vw; overflow-x; hidden; max-height:20vh; overflow-y:scroll">
                  <span class="has-text-weight-semi-bold has-text-black-ter" style="margin-left: 2%">
                    <%= @post.content %>
                  </span>
                </div>
          </div>
          <span class="is-size-7 is-italic">
                <% if @post.likes.count > 0 %> 
                 ❤️ By: 
                  <%- liked_users= @post.liked_users.map {|user| user.username}.join(', ') %>
                  <%= liked_users %>
                <% end %>
          </span><br/>
              <small class="is-size-7">
                <% if @post.liked_users.include?(@current_user)%>
                    <%= link_to "Unlike", like_path(@post.id), method: :delete %> |
                <% elsif @post.user == @current_user %>
                <% else %>
                    <%= link_to "Like", post_likes_path(@post.id), method: :post%> |
                <% end %>
              </small> 
              <small class="is-size-7"><%= @post.created_at.strftime("%m-%d-%Y")%></small><br>
        </div>
        <div class="media-right">
          <div class="level-right">
            <p class="level-item">
              <% if @current_user == @post.user%>
                <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link is-arrowless">
                      ⋮⋮⋮
                      </a>
                      <div class="navbar-dropdown" style="max-width: 1%;">
                        <div class="navbar-item" style="margin-left: 0%;">
                          <%= link_to "📝", edit_post_path(@post.id)%>
                        </div>
                        <div class="navbar-item" style="margin-left: 0%;">
                          <%= link_to "❌", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }%>
                        </div>
                      </div>
                    </div>
              <% end %>
            </p>
          </div>
        </div>
      </article>
      <hr>
      <div style="height: 31vh; overflow-y: scroll">
        <% if  @post.comments.count > 0 %>
            <% @post.comments.each do |comment| %>
              <div class="media" style='margin-left: 10%'>
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img src= <%= comment.user.img_url %> alt="Italian Trulli">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content" style="width: 45vw; overflow-x; hidden">
                    <p>
                      <strong><%= link_to comment.user.name, user_path(comment.user.id) %></strong> <small>@<%= comment.user.username %></small>
                      <br>
                        <%= comment.content %>
                      <br>
                      <span class="is-size-7">
                          <a>
                              <% if @current_user == comment.user%>
                                  <%= link_to "delete", comment_path(comment.id), method: :delete%> ·
                              <% end %>
                          </a> 
                          <%= comment.created_at.strftime("%m-%d-%Y")%>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="column" style="margin-top: 20%">
    <div class="box">
    <h6 class="title is-6 is-spaced has-text-link is-family-code">Post a Comment...</h6>
      <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src= <%= @current_user.img_url %> alt="Italian Trulli">
            </p>
          </figure>
          <div class="media-content">
            <%= form_for @comment, url: '/newcomment', method: :post do |f| %>
              <div class="field">
                  <%= f.hidden_field :post_id, value: @post.id %>
                  <textarea class="control textarea" <%= f.text_area :content %>
              </div>
              <button class="button is-link is-small">
                <span type="submit" name="commit" value="Create" data-disable-with="Create Post">submit</span>
              </button>
            <% end %>
          </div>
        </article>
      </div>
  </div>
</div>